<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <br>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Full Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter your full name."
                    name="Name" 
                    value="<%= Book.Name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Location</label>
                    <input type="text" class="form-control"
                    id="authorTextField"
                    placeholder="Enter your current location."
                    name="Author" 
                    value="<%= Book.Author %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Friends</label>
                    <input type="text" class="form-control"
                    id="publishedTextField"
                    placeholder="How many of your friends use facebook?"
                    name="Published" 
                    value="<%= Book.Published %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextArea">Description</label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Tell something interesting about yourself."
                    name="Description" 
                    required>
                    <%= Book.Description %>
                    </textarea>
                </div>

                <div class="form-group">
                    <label for="priceTextField">Age</label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="Enter ue age."
                    name="Price" 
                    value="<%= Book.Price %>"
                    required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/Facebook" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>